.navbar {
  background: #21325e;
}
.icons {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}
.name {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 60px;
  margin-top: 10px;
}

.links {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}
