.projectDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
  background-color: #34568b;
  color: #f3dbdb;
}

.card {
  width: 400px;
  height: 400px;
  margin: 10px;
  background-color: #3e497a;
  color: #f3dbdb;
}
